.preferences{
  margin: 30px 50px;
}
.p-30{
  padding: 3.5rem !important;
}

.p-24 {
  padding: 3rem;
}

.account{
  width:2700px;
  height:800px;
}

.cardFrame{
   width: 1420px ;
   height: 761px;
}

.container-card{
 width:164px;
 height:171px;
}

.Mosque{
  height:900px;
}

.dateTimeSettings{
  height:1420px
}

.map{
   height:921px
}

.card{
 display: flex;
 width: 164px;
 height:120px;
 padding: 24px 0px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 8px;
}

.english{
  text-align: end;
}

.language{
  max-width: 50px;
  min-width: 50px;
}


