
<div class="preferences gap-12 self-stretch items-start sm:inset-0 flex flex-col flex-auto min-w-0 bg-card">
  <div class="flex flex-col w-800px items-start gap-4 sm:gap-6 md:gap-8 lg:gap-16">
    <div class="page-title absolute right-12 font-bold">
        Account Preferences
      </div>
      <div class="left-12">Close</div>
  </div>
  <div class="flex p-30 flex-col items-start gap-8 self-stretch bg-[#F5F5F5;]"  style=" display: flex;">
      <div class="font-inter text-14 font-semibold tracking-widest">DEFAULT LANGUAGE</div>
          <div>
             Lorem Ipsum ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
       <div class="flex gap-4">
         <div class="card flex-1 px-20 flex-col justify-center items-center gap-4 bg-[#FFF] relative">
            <!-- <mat-radio-button [value]=false class="absolute top-0 right-0 m-2"></mat-radio-button>
               <img class="language" [src]="imageEndPoints.language" alt="Cover image"> -->
              <div class="flex mt-auto" >
                <div class="text-black end font-inter font-extrabold text-8 tracking-widest uppercase">
                   English
                 </div>
              </div>

         </div>

          <div class="card flex-1 px-20 flex-col justify-center items-center gap-4 bg-[#FFF] relative">
             <!-- <mat-radio-button [value]=false class="absolute top-0 right-0 m-2"></mat-radio-button>
              <img class="language" [src]="imageEndPoints.language_arabic" alt="Cover image"> -->
             <div class="flex mt-auto" >
               <div class="text-black end font-inter font-extrabold text-8 tracking-widest uppercase">
                  Arabic
                </div>
             </div>
          </div>
      </div>
  </div>
 <!-- DEFAULT MOSQUE -->
  <div class="Mosque bg-[#F5F5F5] flex p-20 flex-col items-start gap-24 self-stretch">
       <div class="font-inter text-14 font-semibold tracking-widest">DEFAULT LANGUAGE</div>
       <!-- <div>
            Lorem Ipsum ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
         </div> -->
       <div class="cardFrame bg-[#FFF] flex p-4 md:p-8 flex-col items-start gap-6 md:gap-24 self-stretch">
           <div class="container-card bg-[#F5F5F5] w-1/4 ">

          </div>

        </div>
     </div>
    <div>
  </div>

<!-- Time & Date settings -->
  <div class="dateTimeSettings bg-[#F5F5F5] flex p-6 sm:p-8 flex-col items-start gap-6 self-stretch">
         <div class="font-inter text-14 font-semibold tracking-widest">
           DATA & TIME SETTING
         </div>
         <div>Lorem Ipsum ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</div>
  </div>

  <!-- MAP -->
  <div class="map bg-[#F5F5F5] flex flex-col p-6 pb-10 items-start gap-6 self-stretch">
      <div class="flex flex-col items-start gap-2">
          <div class="font-inter text-14 font-semibold tracking-widest">
              TIME Zone
          </div>
          <div>Lorem Ipsum ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</div>
      </div>
  </div>
</div>









